{{ ansible_managed|comment }}

hostname {{ ansible_hostname }}
password {{ frr_password }}
log {{ frr_logging }}
!
{% if frr_daemons['bgpd'] %}
{%   if frr_bgp is defined and frr_bgp != [] %}
{%     for key, value in frr_bgp['asns'].iteritems() %}
router bgp {{ key }}
  bgp router-id {{ frr_router_id }}
{%       if value['log_neighbor_changes']|default(False) %}
  bgp log-neighbor-changes
{%       endif %}
{%       if value['neighbors'] is defined %}
{%         for neighbor, values in value['neighbors'].iteritems() %}
  neighbor {{ neighbor }} remote-as {{ values['asn'] }}
{%           if values['default_originate']|default(False) %}
  neighbor {{ neighbor }} default-originate
{%           endif %}
{%           if values['description'] is defined %}
  neighbor {{ neighbor }} description {{ values['description'] }}
{%           endif %}
{%           if values['next_hop_self']|default(False) %}
  neighbor {{ neighbor }} next-hop-self
{%           endif %}
{%         endfor %}
{%       endif %}
{%       if value['networks'] is defined %}
{%         for network in value['networks'] %}
  network {{ network }}
{%         endfor %}
{%       endif %}
{%       if value['redistribute'] is defined %}
{%         for _redistribute in value['redistribute'] %}
  redistribute {{ _redistribute }}
{%         endfor %}
{%       endif %}
{%     endfor %}
{%   endif %}
{% endif %}
