{{ ansible_managed|comment }}

hostname {{ ansible_hostname }}
password {{ frr_password }}
log {{ frr_logging }}
!
{% if frr_interfaces is defined and frr_interfaces != {} %}
{%   for iface, iface_data in frr_interfaces.items() %}
interface {{ iface }}
{%     if iface_data['description'] is defined %}
  description {{ iface_data['description'] }}
{%     endif %}
{%     if iface_data['ip'] is defined %}
  ip address {{ iface_data['ip'] }}
{%     endif %}
{%   endfor %}
{% endif %}
